<%= form_with(model: @category, local: true) do |f| %>

    <% @category.errors.full_messages.each do |error| %>
        <div class="alert alert-danger">
          <%= error %>
        </div>
    <% end %>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.submit class: 'btn btn-default' %>
    </p>
<% end %>