<table class="table">
  <tr>
    <td>ID</td>
    <td>Name</td>
  </tr>

  <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td>
          <%= link_to 'Delete', category, method: :delete, class: 'btn btn-danger' %>
          <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-warning' %>
        </td>
      </tr>

  <% end %>
</table>

<%= link_to 'New', new_category_path, class: 'btn btn-success'%>